.meals {
  max-width: 60rem;
  width: 90%;
  margin: 2rem auto;
  animation: meals-appear 1s ease-out forwards;
}

.meals p {
  text-align: center;
  color: whitesmoke;
}

.meals ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.error {
  padding: 0.5rem;
  background-color: rgb(206, 77, 77);
  border-radius: 10px;
}

@keyframes meals-appear {
  from {
    opacity: 0;
    transform: translateY(3rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
